.search-label {
    padding: 4px 7px;
    margin: 4px 4px;
    text-align: right;
}

.search-select {
    padding: 4px 7px;
    margin: 4px 4px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 10em;
    align-content: baseline;
    font-size: 12pt;
}

.search-button {
    font-size: 14pt;
    font-weight: 400;
    width: 5em;
    background:#f88e37;
    color: black;
    border-radius: 4px;
    text-shadow: 0 1px 1px #00000033;
    margin-left: 1.5em;
}

.search-results-container,  .search-results-title{
    width: 50%;
    display: grid;
    z-index: 1;
    /* grid-template-columns: .7fr 1.6fr 1.5fr .9fr .6fr 1.1fr; */
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin-left: 3em;
}

.search-item {
    border: solid 1px #474545;
    padding: .4em;
    font-size: 11pt;
}

.search-results-item-title {
    border: solid 1px #474545;
    background: lightgrey;
    padding: .25em;
    font-size: 10pt;
    font-weight: 700;
}

.fa-icon{
    cursor: pointer;
    color: black;
    margin-left: 2em;
}

.schedule-view {
    background-color:#b3cbf7;
    position: absolute;
    left: 10rem;
    z-index: 1;
    /* height: 18rem; */
    width: 50rem;
    border-radius: 10px;
    border: solid 2px #071838;
    box-shadow: 5px 5px 5px #071838;
    padding: 1.5em;
}

.close-schedule-modal{
    cursor: pointer;
    color: #071838;
    transition: color .2s;
    font-weight: 900;
    position: absolute;
    right: 1.1rem;
    top: 1rem;
    border: none;
    background: none;
    font-size: 1rem;
}

.available-msg {
    font-size: 2em;
    color: #071838;
}

.schedule-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: .3em .6em;
    vertical-align: baseline;
}

.form-label {
    padding: 4px 7px;
    margin: 4px 4px;
    text-align: right;
}

.form-select {
    padding: 4px 7px;
    margin: 4px 4px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 20em;
    align-content: baseline;
    font-size: 12pt;
}
  

.form-user-input {
    font-size: 12pt;
    padding: 4px 7px;
    margin: 4px 4px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 20em;
}

.form-checkbox {
    width: 20px;
    height: 20px;
    padding: 4px 7px;
    margin: 6px 4px;
    box-sizing: border-box;
    border-radius: 5px;

}