.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.header-content{
    margin: 1em;
    color: #123a83;
    font-size: 18pt;
}

.btn-arrows{
    padding-top: 3pt;
}

.schedule-title-row{
    width: 90%;
    display: grid;
    z-index: 1;
    /* grid-template-columns: .7fr 1.6fr 1.5fr .9fr .6fr 1.1fr; */
    grid-template-columns: .7fr 1.5fr 1.2fr .7fr .7fr 1fr 1fr;
    margin-left: 3em;
}

.schedule-title-item {
    border: solid 1px #474545;
    background: lightgrey;
    padding: .25em;
    font-size: 10pt;
    font-weight: 700;
}
.schedule-item {
    border: solid 1px #474545;
    padding: .4em;
    font-size: 11pt;
}


