.nav-bar{
    background-color: #123a83;
    text-decoration: none;
    color: #ffffff;
    min-height: 30px;
    padding: 15px;
    font-size: x-large;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.home {
    padding-right: 10px;
}